.links-section {
  padding: 2rem 3rem;
  background-color: #f6ebeb;
  /* background:linear-gradient(0deg,#05005b,#0600bd,#05005b); */
  text-align: center;
}

.section-title {
  font-size: 2rem;
}

.links-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.link-button {
  background: linear-gradient(45deg, #1760dd99, #13006a99);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
  font-size: 17px;
}

.link-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #1760dd99;
}
