/* HeroSection.css */
.hero {
  height: 100vh;
  background-image: url("../../assets/שלבים-לניהול-כלכלת-המשפחה.webp"); /* שים קובץ בתיקיית public/images */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fbff00a8;
  position: relative;
}

.hero::after {
  .hero-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fbff00a8;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
    color: #fbff00a8;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
  }
}
/* content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); שכבת כהות על הרקע */

.hero-content {
  position: relative;
  /* padding: 50px; */
  color: #fbff00a8;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(61, 61, 61, 0.5)); */
  z-index: 1;
}
