@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@700&display=swap");

.card {
  width: 275px;
  position: relative;
  background: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  border-radius: 20px;
  background: linear-gradient(to bottom, #d1dfff, #c3faff);
}

.card::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  bottom: 15px;
  right: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(5deg);
  transition: all 0.1s ease-in;
}

.card::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 10px;
  bottom: 15px;
  left: 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(-5deg);
  transition: all 0.1s ease-in;
}

.card:hover:before,
.card:hover:after {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
}

.card:hover:before {
  transform: rotate(-8deg);
}

.card:hover:after {
  transform: rotate(8deg);
}

.card__img {
  width: 100%;
  height: 200px; /* או כל גובה שתרצה */
  overflow: hidden;
  border-radius: 8px;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* הכי חשוב */
  display: block;
}

.card__span {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #e1e885;
  color: #333333;
  padding: 4px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s ease, transform 0.1s ease-in;
  user-select: none;
}

.card__span:hover {
  transform: translateX(5px);
  background-color: #e0e0e0;
}

.card-int {
  position: relative;
  height: 230px;
  padding: 20px 0 0 0;
}

.card-int__title {
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Assistant", sans-serif;
  margin-bottom: 10px;
}

.card-int__button {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  padding: 7px 20px;
  width: 100%;
  background-color: rgb(238, 246, 255);
  border: none;
  color: black;
  /* position: relative; */
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
  transition: box-shadow 0.1s ease-in;
  user-select: none;
}

.card-int__button:active {
  box-shadow: 0px 0px 15px rgba(0, 119, 255, 0.5);
}

.card-int__button:hover::before {
  animation: effect_two 0.4s 1;
}

.card-int__button::before {
  content: "קרא עוד...";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgb(0, 133, 255);
  background: linear-gradient(146deg, #0032a6 0%, #68aeff 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-99%);
  z-index: 1;
  animation: effect_one 10s infinite;
}

.card-int__button:hover::before {
  transform: translateX(0%);
}

.excerpt {
  font-size: 14px;
}

@keyframes effect_one {
  0% {
    transform: translateX(-99%);
  }

  25% {
    transform: translateX(-90%);
  }

  50% {
    transform: translateX(-80%);
  }

  75% {
    transform: translateX(-95%);
  }

  100% {
    transform: translateX(-99%);
  }
}

@keyframes effect_two {
  to {
    transform: translateX(-1%);
  }

  from {
    transform: translateX(-99%);
  }
}
