.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #f0f0f0;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.cta-button {
  background: linear-gradient(45deg, #fcdf00b7, #f8fc00a8);
  /* background: linear-gradient(45deg, #00c853, #64dd17); */
  color: #05005b;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cta-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #fcdf00b7;
}
