.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.761),
    rgba(61, 61, 61, 0.5)
  );
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #f0f0f0;
  margin-bottom: 2rem;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5),
    rgba(56, 56, 56, 0.835)
  );
}

.cta-button {
  width: 500px;
  background: linear-gradient(45deg, #154aa5d6, #13006ac4);
  color: #d4d2f7;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  margin: 5px;
  font-size: 1.3rem;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cta-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #144fb499;
}
